<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svo.platform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- =================================分享开始======================================================== -->
        <activity
            android:name="com.svo.platform.share.WeiboBindActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.svo.platform.share.activity.ShareActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 腾讯分享需要 -->
        <activity android:name="com.tencent.weibo.webview.OAuthV1AuthorizeWebView" />

        <!-- 人人网分享需要 -->
        <activity
            android:name="com.renren.api.connect.android.AuthorizationHelper$BlockActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.renren.api.connect.android.status.StatusPubActivity" >
        </activity>
        <!-- 发布照片的Activity，如需使用一键上传图片的功能，则必须在AndroidManifest.xml中声明 -->
        <activity android:name="com.renren.api.connect.android.photos.UploadPhotoActivity" >
        </activity>
        <!-- QQ空间分享需要 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100519939" />
            </intent-filter>
        </activity>
        <!-- =================================分享结束======================================================== -->
        <!-- 图片浏览器 -->
        <activity android:name="com.svo.platform.picbrowser.PicBrowseActivity" >
        </activity>
    </application>

</manifest>